<a href="https://colab.research.google.com/github/spoorthi2003/2216145_aiml-boot-camp/blob/main/2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#if else
var=100
if var>0:
  print("true")
  print(var)
var1=0
if var1>0:
  print("True")
  print(var1)

true
100

In [2]:
#ifelse statement

var2=-1
if var2>0:
  print("True")
  print(var2)
else:
  print("False")
  print(var2)

False
-1

In [3]:
#nested if statements
#bus tickets
age=int(input("ENTER AGE"))
if age>12 and age<=18:
  if age<15:
    print("Quarter ticket implies")
  elif age==15:
    print("quarter ticket+ discount")
  else:
    print("Half ticket")
elif age>=19 and age<=60:
  print("full ticket")
elif age>60:
  print("Full ticket + discount")
else:
  print("no ticket")

ENTER AGE21
full ticket

In [4]:
#for loop
number=[6,5,3,8,4,2,5,4,11]
sum=0
for val in number:
  sum=sum+val
print("the sum is",sum)
print("\n")
for i in range(1,11):
  print(i)
for i in range(1,11,2):
 print("\n")
 print(i)
 x=[2,3,4,5,6,7,8]
y=[]
for a in x:
  if a%2==0:
    y.append(a)
print("\n")
print(y)

the sum is 48


1
2
3
4
5
6
7
8
9
10


1


3


5


7


9


[2, 4, 6, 8]

In [5]:
def A(a,b=1,c=2):
  return a+b+c
print(A(3))
print(A(4,4,1))
print(A(2,2))

6
9
6

In [6]:
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(c=3,b=2,a=1))

7
6

In [7]:
for l in 'Python':
  if l == 'h':
    break
  print("Current letter:",l)
int1=10
while(int1>0):
  print("current value:",int1)
  int1=int1-1
  if int1==5:
    break

Current letter: P
Current letter: y
Current letter: t
current value: 10
current value: 9
current value: 8
current value: 7
current value: 6

In [8]:
for l in 'Python':
  if l == 'h':
    continue
  print("Current letter:",l)
int1=10
while(int1>0):
  print("current value:",int1)
  int1=int1-1
  if int1==5:
    continue

Current letter: P
Current letter: y
Current letter: t
Current letter: o
Current letter: n
current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1

In [9]:
#pass
for l in 'Python':
  if l == 'h':
    pass
  print("Current letter:",l)
int1=10
while(int1>0):
  print("current value:",int1)
  int1=int1-1
  if int1==5:
    print("this is pass block")
    print("this is pass block")

Current letter: P
Current letter: y
Current letter: t
Current letter: h
Current letter: o
Current letter: n
current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
this is pass block
this is pass block
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1

In [10]:
#keyword
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(c=3,b=2,a=1))

7
6

In [11]:
def add(a,b,c):
  return a+b+c
print(add(10,20,30))
print(add(10,b=20,c=30))

60
60

In [12]:
def key_arg(**kwargs):
  return kwargs
my_dict=key_arg(apple=10,oranges=20,grapes=30)
print(my_dict['apple'])
print(my_dict)

10
{'apple': 10, 'oranges': 20, 'grapes': 30}

In [16]:
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()

def explain(func):
  greet=func("hi,iam higher order function")
  print(greet)

explain(shout)
explain(whisper)

HI,IAM HIGHER ORDER FUNCTION
hi,iam higher order function

In [17]:
def incr(x):
  x=x+1
  return x
print(incr(4))

print((lambda x:x+1)(4))

res=lambda x:x+1
print(res(4))

5
5
5

In [18]:
print((lambda x,y:x**y)(2,2))
print((lambda x,y:x+y)(2,3))

4
5

In [19]:
li=[1,2,3,4,5]
#res=lambda x:x+2
#print(res(li))
def inc(num):
  return num+2
res_list=list(map(inc,li))
print(res_list)
res_list1=list(map(lambda x:x+2,li))
print(res_list)
print(list(map(lambda x:x+2,li)))

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]

In [20]:
def eor(num):
  if num%2==0:
    return "the number {} is even".format(num)
  else:
    return "the number {} is odd".format(num)
eor(20)

'the number 20 is even'

In [21]:
l=[1,2,3,4,5,6,7,8,9,10]
list(map(eor,l))

['the number 1 is odd',
 'the number 2 is even',
 'the number 3 is odd',
 'the number 4 is even',
 'the number 5 is odd',
 'the number 6 is even',
 'the number 7 is odd',
 'the number 8 is even',
 'the number 9 is odd',
 'the number 10 is even']

In [22]:
li=['apple','banana','grapes']
r=list(map(lambda x:x.capitalize(),li))
print(r)

['Apple', 'Banana', 'Grapes']

In [23]:
def odd_num(n):
  if n%2!=0:
    return n
my_list=[9,26,35,-2,50]
print(list(filter(odd_num,my_list)))
my_list=[18,94,33,16,99,22,56,107,34]
temp=list(filter(lambda x:x%2==0,my_list))
print(temp)

[9, 35]
[18, 94, 16, 22, 56, 34]

In [24]:
#math module
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(4))
print(m.factorial(5))
print(m.pow(2,2))
print(m.floor(1.4))
print(m.tan(5))
print(m.log(2))

3.141592653589793
2.718281828459045
2.0
120
4.0
1
-3.380515006246586
0.6931471805599453

In [25]:
#sys module
import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
9223372036854775807

In [26]:
#time module
import time
print(time.time())
print(time.localtime())
print(time.asctime())
print(time.ctime())
print(time.sleep(1.5))

1656256645.883499
time.struct_time(tm_year=2022, tm_mon=6, tm_mday=26, tm_hour=15, tm_min=17, tm_sec=25, tm_wday=6, tm_yday=177, tm_isdst=0)
Sun Jun 26 15:17:25 2022
Sun Jun 26 15:17:25 2022
None

In [27]:
#random module
import random
print(random.randrange(1,50))
print(random.randint(1,100))
print(random.random())

5
38
0.25298500471990293

In [28]:
import random
g_num=random.randint(0,5)
g2_num=int(input("PREDICT A NUMBER"))
if g2_num==g_num:
  print("you won")
else:
 print(" you lost")

PREDICT A NUMBER23
 you lost

In [29]:
li=[1,2,5,6,7,10,15,25,65,78,90]
res=list(filter(lambda x:x%5!=0,li))
print(res)

[1, 2, 6, 7, 78]

In [30]:
fruit=["Apple","Banana","Pear","Avacado","Orange","Amla"]
res=list(filter(lambda x:x.startswith('A'),fruit))
print(res)

['Apple', 'Avacado', 'Amla']

In [31]:
s=['apple','orange','grapes','ball','bat','umbrella']
res=list(filter(lambda x:x[0] in ['a','e','i','o','u'] ,s))
print(res)

['apple', 'orange', 'umbrella']