<a href="https://colab.research.google.com/github/spoorthi2003/2216145_aiml-boot-camp/blob/main/assigment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
st="welcome to AI&ML bootcamp"
print(st.upper())
print(st.lower())
print(st.swapcase())
print(st.title())
print(st.capitalize())
statement="   step for your goal   "
print(statement.strip())
print(statement.lstrip())
print(statement.rstrip())

WELCOME TO AI&ML BOOTCAMP
welcome to ai&ml bootcamp
WELCOME TO ai&ml BOOTCAMP
Welcome To Ai&Ml Bootcamp
Welcome to ai&ml bootcamp
step for your goal
step for your goal
   step for your goal

In [2]:
list=["spoorthi","hamsa","anjana","jeevana"]
list.append("anjana")
print(list)

['spoorthi', 'hamsa', 'anjana', 'jeevana', 'anjana']

In [3]:
list.extend(["team","mates","for","AI&ML","bootcamp"])
print(list)

['spoorthi', 'hamsa', 'anjana', 'jeevana', 'anjana', 'team', 'mates', 'for', 'AI&ML', 'bootcamp']

In [4]:
list.insert(0,"we are")
print(list)

['we are', 'spoorthi', 'hamsa', 'anjana', 'jeevana', 'anjana', 'team', 'mates', 'for', 'AI&ML', 'bootcamp']

In [5]:
del list[0]
print(list)

['spoorthi', 'hamsa', 'anjana', 'jeevana', 'anjana', 'team', 'mates', 'for', 'AI&ML', 'bootcamp']

In [6]:
del list[6:8]
print(list)

['spoorthi', 'hamsa', 'anjana', 'jeevana', 'anjana', 'team', 'AI&ML', 'bootcamp']

In [7]:
list.remove("hamsa")
print(list)

['spoorthi', 'anjana', 'jeevana', 'anjana', 'team', 'AI&ML', 'bootcamp']

In [8]:
list.pop(0)
print(list)

['anjana', 'jeevana', 'anjana', 'team', 'AI&ML', 'bootcamp']

In [9]:
print(list.count("AI&ML"))

1

In [10]:
print(len(list))

6

In [11]:
list.sort()
print(list)

['AI&ML', 'anjana', 'anjana', 'bootcamp', 'jeevana', 'team']

In [12]:
list.reverse()
print(list)

['team', 'jeevana', 'bootcamp', 'anjana', 'anjana', 'AI&ML']

In [13]:
print(list[::-1])

['AI&ML', 'anjana', 'anjana', 'bootcamp', 'jeevana', 'team']

In [14]:
list.clear()
print(list)

[]

In [19]:
day1=("python",13.7,100,5,9,100,100)
print(day1.count(100))
print(day1.index(5))

3
3

In [20]:
day2=(1,8,9,600,8)
print(max(day2))
print(min(day2))
print(len(day2))

600
1
5

In [21]:
data={'name':'spoorthi','branch':'cse','hallno':'2216145','year':'3'} #static declaration
print(data['name'])
print(data.keys())
print(data.values())
print(data.get('name'))

spoorthi
dict_keys(['name', 'branch', 'hallno', 'year'])
dict_values(['spoorthi', 'cse', '2216145', '3'])
spoorthi

In [22]:
set={"ssd",250,600,2040}
set.add(2)
print(set)

{2, 2040, 'ssd', 600, 250}

In [23]:
set.update([250,600,1080])
print(set)

{2, 2040, 1080, 'ssd', 600, 250}

In [24]:
set.discard("ssd")
print(set)

{2, 2040, 1080, 600, 250}

In [25]:
set.remove(1080)
print(set)

{2, 2040, 600, 250}

In [26]:
set2={999,111,222,888}
print(set.union(set2))

{2, 999, 600, 111, 888, 2040, 250, 222}

In [27]:
print(set|set2)

{2, 999, 600, 111, 888, 2040, 250, 222}

In [28]:
print(set&set2)

set()

In [29]:
print(set2.intersection(set))

set()

In [30]:
print(set-set2)

{2040, 250, 2, 600}

In [31]:
print(set.difference(set2))

{2040, 250, 2, 600}

In [32]:
dec = int(input("Enter an integer: "))
print("The decimal value of is :", dec)
print("decimal to binary:",bin(dec))

Enter an integer: 2
The decimal value of is : 2
decimal to binary: 0b10

In [33]:
print("decimal to  octal:",oct(dec))

print("decimal to hexadecimal:",hex(dec),)

decimal to  octal: 0o2
decimal to hexadecimal: 0x2

In [35]:
marks1 = int(input("Enter of marks1: "))
marks2 = int(input("Enter of marks2: "))
print(marks1+marks2)
print(marks1-marks2)
print(marks1*marks2)
print(marks1/marks2)
print(marks1//marks2)
print(marks1%marks2)
print(marks1**marks2)

Enter of marks1: 5
Enter of marks2: 6
11
-1
30
0.8333333333333334
0
5
15625

In [36]:
marks1 = int(input("Enter of marks1: "))
marks2 = int(input("Enter of marks2: "))
total=marks1+marks2
print(total)
total+=marks1
print(total)
total-=marks1
print(total)
total*=marks1
print(total)
total/=marks1
print(total)
total%=marks1
print(total)
total**=marks1
print(total)

Enter of marks1: 5
Enter of marks2: 6
11
16
11
55
11.0
1.0
1.0

In [37]:
age1 = int(input("Enter of age1: "))
age2 = int(input("Enter of age2: "))
print(age1==age2)

Enter of age1: 3
Enter of age2: 8
False

In [38]:
print(age1!=age2)

True

In [39]:
print(age1>age2)
print(age1<age2)
print(age1>=age2)
print(age1<=age2)

False
True
False
True

In [40]:
print(age1>age2)
print(age1<age2)
print(age1>=age2)
print(age1<=age2)

False
True
False
True

In [41]:
cost1=12
cost2=7
print(cost1&cost2)
print(cost1^cost2)
print(cost1|cost2)
print(~cost1)
print(cost1>>2)
print(cost1<<4)

4
11
15
-13
3
192

In [42]:
st1="python language"
st2={6:'name',11:'b'}
print(st1)
print('l' in st1)
print(st2)
print(6 in st2)
print(11 in st2)

python language
True
{6: 'name', 11: 'b'}
True
True

In [43]:
data1=33
st1=33
data2="priority"
st2="priority"
data3=[111,222,333]
st3=[111,222,333]
print(data1 is not st1)
print(data1 is  st1)
print(data2 is st2)
print(data2 is not st2)
print(data3 is st3)
print(data3 is not st3)

False
True
True
False
False
True

In [44]:
data1=33
st1=33
data2="priority"
st2="priority"
data3=[111,222,333]
st3=[111,222,333]
print(data1 is not st1)
print(data1 is  st1)
print(data2 is st2)
print(data2 is not st2)
print(data3 is st3)
print(data3 is not st3)

False
True
True
False
False
True

In [46]:
data1=33
st1=33
data2="priority"
st2="priority"
data3=[111,222,333]
st3=[111,222,333]
print(data1 is not st1)
print(data1 is  st1)
print(data2 is st2)
print(data2 is not st2)
print(data3 is st3)
print(data3 is not st3)

False
True
True
False
False
True

In [49]:
places=['warangal','hyderabad','karimnagar','hanamkonda']
print(places[::-1])
print(places[-1])
print(places[-2])
print(places[-3])
country=['india','USA','UK','Japan']
print("indexing")
print(country[1])
print(" negative indexing")
print(country[-1])
print(country[-2])
print(country[2])

['hanamkonda', 'karimnagar', 'hyderabad', 'warangal']
hanamkonda
karimnagar
hyderabad
indexing
USA
 negative indexing
Japan
UK
UK

In [50]:
print(places[0:4:1]) 
print(places[0:4:2])
print(places[0:4:3]) 
print(places[0:4:4]) 
print(places[-1::]) 
print(places[-5:-1:])

['warangal', 'hyderabad', 'karimnagar', 'hanamkonda']
['warangal', 'karimnagar']
['warangal', 'hanamkonda']
['warangal']
['hanamkonda']
['warangal', 'hyderabad', 'karimnagar']

In [51]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("----------")
print('Welcome to python training program'[3:10][::-1])
#Given print statement [::-1] reverse the whole string
#Given print statement [::-1] reverse the whole string
#[3:10] slicing operator starts from 3rd index and stops at 10th index and the it will reverse the string.

taawkcbe  tgestrcoeeA
----------
ot emoc

In [ ]:
x=int(input("length of x"))
a=('Z'*x)
#print(a)
y=len(a)
z=2*y
y=('O'*z)
#print(y)
print(a+y)